@import url('https://fonts.googleapis.com/css?family=Lato');

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background: #41465d;
	margin: 0 auto;
  font-size: 17px;
	font-style: normal;
	color: #282c37;
	font-family: 'Brandon Grotesque', 'Lato', sans-serif;

}
@font-face {
	font-family: "Brandon Grotesque";
	src:url('../fonts/Brandon Grotesque/Brandon_reg.otf') format('opentype');
}
@font-face {
	font-family: "Brandon Grotesque";
	font-weight: medium;
	src:url('../fonts/Brandon Grotesque/Brandon_med.otf') format('opentype');
}
@font-face {
	font-family: "Brandon Grotesque";
	font-weight: bold;
	src:url('../fonts/Brandon Grotesque/Brandon_bld.otf') format('opentype');
}
h1 {
	font-size: 1.5em;
	font-weight: bold;
}

section {
	margin: 0 auto;
	margin-top: 5%;
	background: url("../img/map.png");
	background-repeat:no-repeat;
	background-position: bottom;
	background-size: contain;
  width: 375px;
	height: 667px;
	position: relative;
	overflow: hidden;
	border-radius: 8px;
}


/**** TOP BAR ****/
.top-bar {
	width: 375px;
	height: 85px;
	background-color: #FFCC00;
	box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.17);
}
.status-bar {
	background: url("../img/ui-statusbar.svg");
	height: 20px;
}
.arrow-back {
	float: left;
	width: 42px;
	height: 43px;
	margin: 11px 0 11px 0;
	background-image: url("../img/icon-arrow-back.svg");
}
.search-box {
	float: right;
	width: 321px;
	height: 43px;
	margin: 11px 12px 11px 0;
	border-radius: 100px;
	background: #fff;
}
.search-text {
	float: left;
	padding: 12px 0 0 16px;
	font-size: 1em;
	color: #8E8E93;
}
.icon-search {
	float: right;
	width: 30px;
	height: 26px;
	margin: 8px 10px 9px 0;
	background-image: url("../img/icon-search.svg");
}


/**** POPOVER LIST ****/
.pop-over {
	width: 375px;
	height: 400px;
	background-color: rgba(243, 243, 243, 0.85);
	box-shadow: 0 4px 44px 0 rgba(0, 0, 0, 0.11);
	clear: both;
	position: absolute;
	bottom: 0;
}
.list-container {
	padding-top:88px;
	height: 100%;
  overflow-y: scroll;
}
.gradient {
	width: 375px;
	height: 60px;
	z-index: 1;
	position: absolute;
	bottom: 0;
	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,0) 30%, rgba(255,255,255,1) 100%);
}
.list-container::-webkit-scrollbar {
  display: none;
}


/**** LIST HEADER ****/
.list-header {
	width: 375px;
	height: 85px;
	padding: 14px 16px 19px 16px;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 34px 44px 0 rgba(0, 0, 0, 0.15);
	position: absolute;
	z-index: 1;
}
.list-header h1 {
	font-size: 1.5em;
	line-height: 0.85;
	letter-spacing: -0.6px;
}
.alert{
padding-top: 12px;
}
.alert p {
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.38;
	color: rgba(40, 44, 55, 0.5);
}
.alert-box {
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
	font-size: 0.8em;
	padding: 0px 8px;
	border-radius: 6px;
	background: rgba(40, 44, 55, 1);
}
.icon-fav {
	width: 30px;
	height: 29px;
	float: right;
	background-image: url("../img/icon-fav.svg");
}


/**** LISTINGS ****/
.listing {
	margin: 3px 0 0 27px;
	padding: 0 0 20px 0;
	width: 348px;
	border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 34px 44px 0 rgba(0, 0, 0, 0.04);
}
.list-direction {
	float: right;
	width: 348px;
	padding: 10px 16px 10px 8px;
	border-radius: 4px 0 0 0;
	text-align: right;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.5em;
	letter-spacing: 0.5em;
}
.list-item li {
	display: inline-block;
}
.list-bus {
	float: left;
	margin: 25px 0 0 -11px;
	width: 51px;
	height: 32px;
	line-height: 1.9;
	font-weight: bold;
	text-align: center;
	color: rgb(255, 255, 255);
	border-radius: 3px;
	background-color: rgb(40, 44, 55);
}
.list-dest {
	padding: 25px 0 0 12px;
	width: 62%;
	font-weight: bold;
	font-size: 1.1em;
	color: rgb(40, 44, 55);
}
.list-arvl {
	padding: 0 0 0 16px;
	line-height: 0;
	font-size: 15px;
}
.arrow-right{
	float: right;
	padding: 0 20px 0 0;
	margin: 30px 0 0 0;
	width: 9px;
	height: 15px;
	opacity: 0.5;
	background-repeat: no-repeat;
	background-image: url("../img/icon-arrow-right.svg");
}
.list-freq {
	padding: 10px 0 0 12px;
	line-height: 0.5;
	font-size: 0.7em;
	text-transform: uppercase;
	color: rgba(40, 44, 55, 0.5);
}
.list-end {
	margin: 40px 0 40px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.7em;
	color: rgba(40, 44, 55, 0.5);
}

/**** SPECIAL MODS ****/
.top-space {
	margin-top: 25px;
}
.east {
	background-color: rgba(0, 117, 255, 1);
	color: #fff;
}
.north {
	background-color: rgba(143, 0, 255, 1);
	color: #fff;
}
.south {
	background-color: rgba(80, 182, 55, 1);
	color: #fff;
}
.reroute {
	background-color: rgba(231, 77, 114, 1);
	color: #fff;
}
.noservice .list-direction {
	background-color: rgba(0, 0, 0, 0.025);
}
.noservice li {
	color: rgba(40, 44, 55, 0.5);
}
.noservice .list-bus {
	background: #92949A;
	color: #fff;
}
